@font-face {
    font-family: intro; /* Гарнитура шрифта */
    src: url(fonts/Comfortaa-Regular.ttf); /* Путь к файлу со шрифтом */
}
*{
    font-family: intro;
}

.wrapper {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

.left-header img {
    max-width: 50px;
}

.right-header {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-family: monospace;
    font-size: 20px;
}

.right-header > a {
    text-decoration: none;
    color:gray;
}

.right-header > a:hover {
    text-decoration: none;
    color:black;
}