.nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 515px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.nav .nav__link{
    text-decoration: unset;
    color: #3D3D3D;
    margin: 0 2em 0 0;
}

.nav .nav__link:hover{

}


.logo-text{
    font-family: 'Viga';
    font-weight: 400;
    font-size: 128px;
    margin: 2.5em 0;
    background-color: #000;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}


.fomka-header{
    position: absolute;
    left: 75.94%;
    right: -26.88%;
    top: -0.63%;
    bottom: 77.36%;

}
