.auth-card {
  height: 100%;

  > :first-child {
    margin: auto;
  }


  .v-card {
    max-width: 330px;
    padding: 15px;

    .v-card__title {
      font-size: 24px;
      font-weight: bold;
      justify-content: center;
    }

    p {
      text-align: center;
    }

    .v-text-field__details > * {
      margin: 6px 0 6px 0;
    }

    .row {
      margin: 2px 0 5px 0;
      align-items: center;
    }
  }
}
