
.g-recaptcha {
  margin: -10px -24rem 20px 0px;
  transform: scale(0.88);
  transform-origin: 0;
}

@media screen and (max-width: 280px) {
  .g-recaptcha {
    transform: scale(0.72);
    transform-origin: 0;
  }
}